  <div class="container">
        <div class="header">
            <h1>Skills Assessment</h1>
        </div>
        <div id="progress-bar">
            <div id="progress"></div>
        </div>
        <form id="skills-matcher-form">
            <div class="question" id="question-container"></div>
            <div style="display: flex; justify-content: space-between;">
                <button type="button" id="back-button">Back</button>
                <button type="button" id="next-button">Next</button>
                <button type="button" id="submit-button" style="display: none;">Submit</button>
            </div>
        </form>
        <div id="congrats-message">Thank You! You have successfully completed the quiz.</div>
        <div id="error-message"></div>
    </div>